<div id="movieimg">
    <div id="signup">
        <p id="heading">Sign In</p>

        <form name="signinForm" ng-submit="homeVm.signIn()" novalidate>
            <div class="form-group">
                <label for="username">UserName</label>
                <input type="text" class="form-control" name="username" id="username" placeholder="Enter username.."
                       ng-model="homeVm.user.username" required>
                <div ng-messages="signinForm.username.$error" class="error" ng-if="signinForm.username.$dirty">
                    <p ng-message="required">UserName cannot be empty</p>
                    <p ng-message="email">UserName is invalid</p>
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" id="password" placeholder="Password"
                       ng-model="homeVm.user.password" required>
                <div ng-messages="signinForm.password.$error" class="error" ng-if="signinForm.password.$dirty">
                    <p ng-message="required">Password cannot be empty</p>
                </div>
            </div>

            <button type="submit" class="btn btn-primary btn-md" ng-disabled="signinForm.$invalid">Login</button>

        </form>

    </div>
</div>

